.issue {
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px 0;
  padding: 10px 10px;
  display: flex;
  flex-flow: column nowrap;
  background-color: grey;
}

.title {
  flex: 1 0 auto;
  height: 3em;
  width: auto;
  font-size: 0.8em;
  text-overflow: ellipsis;
  padding: 5px;
  resize: none;
}
.labels {
  display: flex;
  flex-flow: row wrap;
  font-size: 0.6em;
}
.label {
  border-radius: 3px;
  color: white;
  padding: 5px;
  margin: 3px 3px 0 0;
}
